.ritz .waffle a {
    color: inherit;
}

.ritz .waffle .yellow {
    border-right: none;
    background-color: #ffff00;
    text-align: left;
    color: #000000;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .time {
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle .blue {
    border-left: none;
    background-color: #00ffff;
    text-align: left;
    color: #000000;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px;
}

.ritz .waffle tbody tr {
    height: 20px;
}

@include small {
    /* Not sure this helps, but it's here anyway */
    table {
        width: 100%;
        overflow-x: auto;
        display: block;
    }
}
td a {
    width: 100%;
    height: 100%;
    display: block;
}